<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Munchkin Timer</title>
    <link rel="stylesheet" href="styles.css">
    <script src="lib/vue.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <audio id="alarm-final" src="assets/alarm-final.wav" type="audio/wav"></audio>
    <audio id="alarm-warning" src="assets/alarm-warning.wav" type="audio/wav"></audio>

    <main id="app" class="container">
      <div class="contents">

      </div>
      <h1 class="row page-title">Munchkin timer</h1>

      <div class="row pm">
        <h4 class="col-xs-12 pm-title">Minimum time</h2>

        <div class="col-xs-3 col-xs-offset-1">
          <button class="btn btn-info pull-right" @click="decrementMinTime">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </div>

        <div class="col-xs-4 pm-label">{{minTimeLabel}}</div>

        <div class="col-xs-3 col-md-1">
          <button class="btn btn-info pull-left" @click="incrementMinTime">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div class="row pm">
        <h4 class="col-xs-12 pm-title">Maximum time</h2>

        <div class="col-xs-3 col-xs-offset-1 col-md-1 col-md-offset-2">
          <button class="btn btn-info pull-right" @click="decrementMaxTime">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </div>

        <div class="col-xs-4 pm-label">{{maxTimeLabel}}</div>

        <div class="col-xs-3 col-md-1">
          <button class="btn btn-info pull-left" @click="incrementMaxTime">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <div class="row" v-if="timerRunning && timeRemaining === 0">
        <div class="col-xs-12 timer-label">Any time now!</div>
      </div>

      <div class="row" v-else>
        <div class="col-xs-12 timer-label">{{remainingTimeLabel}}</div>
      </div>

      <div class="row" v-if="!timerRunning">
        <button class="col-xs-4 col-xs-offset-4 btn btn-success" @click="start">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        </button>
      </div>

      <div class="row" v-else>
        <button class="col-xs-4 col-xs-offset-4 btn btn-danger" @click="stop">
          <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        </button>
      </div>
    </main>

    <script src="app.js"></script>
  </body>
</html>
